/*
Project:  Personal Website
Name: Noah Schill
Submitted: 13 Nov 2020

I declare that the following source code was written by me, or provided
by the instructor for this project. I understand that copying source
code from any other source, providing source code to another student,
or leaving my code on a public web site constitutes cheating.
I acknowledge that  If I am found in violation of this policy this may result
in a zero grade, a permanent record on file and possibly immediate failure of the class.

*/
/* CSS HEX */
:root {
  --oxford-blue: #0a122aff;
  --cadet: #5c6b73ff;
  --cultured: #fbfaf8ff;
  --bone: #e7decdff;
  --international-orange-engineering: #ba1200ff;
}

.hidden {
  display: none;
}


body{
  background-color: var(--bone);
  font-family: didot;
  color: var(--cadet)
}

#license {
  margin-top: 20px;
  text-align: center;
}

header {
  text-align: center;
  background-color: #D3D3D3;
  margin:none;
  height: 40px;
  display: grid;
  margin-bottom: 10px;
  font-size: 10px;
}

.header h2 {
  margin: auto;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.name {
  background-color: black;
  color: white;
  font-size: 50px;
  align-content: flex-end;
  padding-left: 10px;
  display: flex;
  flex-grow: 2;
  height:400px;
}

.name h1 {
  align-self: flex-end;
}

#visitor-section-container {
  text-align: center;
}

.nav {
  flex-grow: 1;
  display: grid;
  grid-auto-rows:
  grid-template-rows: repeat(3, 100px);
  gap:10px;
  justify-content: stretch;
  height: 400px;
}

.nav .left {
  grid-column: 1;
}

.nav .right {
  grid-column: 2;
}

.nav a caption {
  font-size: 10px;
  color: red;
}

.nav a {
  padding-left: 5px;
  padding-top: 20px;
  font-size: 30px;
  color: black;
  text-decoration: none;
  border: 3px solid #D3D3D3;
}

.nav a:hover {
  background-color: grey;
  transition: background-color 0.4s;
}

#modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
	font-size: 20px;
  background-color: rgba(0, 0, 0, 0.29);
}

#modal-box {
 height: auto;
  margin: auto;
  z-index: 2;
  margin-top:10px;
  margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 10px;
padding: 5px 30px 5px 30px;
align-items:center;
background-color: #D3D3D3;
min-height: 200px;
padding-bottom: 20px;


}

#sectionContainer {
  align-items: center;
}

#close-btn {
  padding-top: 10px;
  float: right;
  font-size: 50px;
  cursor: pointer;
	display:absolute;
}

#close-btn:hover {
  color: white;
}

figure {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

figure img {
  width:500px;
}


form {
  width: 600px;
  margin: auto;
}

form label {
  font-size: 20px;
}

form input {
  background-color: var(--cultured);
  border-style: solid;
  font-size: 15px;
  font-family: Arial;
  padding-left: 4px;
  padding-right: 4px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.visitor-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.flex {
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
}

.flex li {
  display: flex;
  flex-basis:2;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: 5px 5px;
}


.flex li label {
  flex-grow: 1;
  text-align: left;
}

.flex li input {
  flex-grow: 1;
}

/* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: italic;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition: background-color 0.2s;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input[type="checkbox"] ~ .checkmark {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 14px;
  border: solid var(--international-orange-engineering);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flex .whereFound {
  display: flex;
  padding-bottom:25px;
  justify-content: space-between;
}

.flex > li:nth-last-child(2){
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.flex > li:nth-last-child(2) label{
  margin-bottom: 10px;
}

.flex > li:nth-last-child(2) textarea{
  margin-top:7px;
  padding:4px;
  width: 100%;
  background-color: var(--cultured);
  border-style: solid;
  border-radius: 7px;
  height: 200px;
  resize: none;
  font-family: didot;
  font-weight: lighter;
}

.flex > li:nth-last-child(1) {
  display: inline;
}

.formBtn {
  width: 100%;
  height: 40px;
  background-color: var(--cadet);
  color: var(--bone);
  border-style: none;
  text-transform: uppercase;
  font-family: didot;
  font-size: 17px;
  border-radius: 7px;
  transition: transform .2s, background-color, 1s, color 1s;
}

.formBtn:hover {
  transform: scale(1.1);
  background-color: var(--international-orange-engineering);
  color: var(--cultured);
}

.errorMsg {
  color: var(--international-orange-engineering);
  flex-grow: 0;
  display:none;
  width:100%;
  text-align: right;
  transition: display 1s;
}

input.was-validated:invalid {
  color: red;
  border: 1px solid red;
}

input.was-validated:invalid ~ div {
  display: block;
}

input:valid ~ div {
  display: none;
}

input:invalid ~ div {
  display: none;
}

table {
  width: 100%;
}

table td, th {
  border: 1px solid var(--cultured);
  padding:5px;
}

table td {
  text-align: left;
}

.actionsColumn {
  text-align: center;
}


@media only screen and (max-width: 1000px) {
  #main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  figure img {
    width:100%;
  }
  .name {
    flex-grow: 1;
  }

  .nav {
    flex-grow: 2;
  }
}
